<div class="jumbotron"ng-controller="HomeController">

<div class="container">

</div>
  <div class="row">
    <button type="button" class="btn btn-default" ng-click="getJobs()" ng-show="isRegular() || isAdmin() ">Listar Usuarios</button>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#createModal" data-whatever="create" ng-show="isAdmin()">Crear Usuario</button>
    <label ng-show="isAdmin()" >Filter By Scope: <input ng-show="isAdmin()" ng-model="search.cdate"></label><br>
  </div>




  <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" ng-show="isAdmin()" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">Crear Propuesta de Trabajo</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="title">Titulo: </label>
              <input type="text" name="titulo" ng-model="job.title" class="form-control">
            </div>
            <div class="form-group">
              <label for="year">Descripcion: </label>
              <input type="text" name="descripcion" ng-model="job.description" class="form-control">
            </div>
            <div class="form-group">
              <label for="editorial">Cargo: </label>
              <input type="text" name="cargo" ng-model="job.position" class="form-control">
            </div>
            <div class="form-group">
              <label for="info">Contacto: </label>
              <input type="text" name="contacto" ng-model="job.info" class="form-control">
            </div>
            <div class="form-group">
              <label for="info">Salario: </label>
              <input type="text" name="salario" ng-model="job.salary" class="form-control">
            </div>
            <div class="form-group">
              <label for="cdate">Fecha: </label>
              <input type="text" name="fecha" ng-model="job.cdate" class="form-control">
            </div>
            <div class="form-group">
              <label for="status">Estado: </label>
              <input type="text" name="status" ng-model="job.status" class="form-control">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-default" ng-click="postJob()">Guardar Usuario</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" ng-show="isAdmin()" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">Modificar Propuesta de Trabajo</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="title">Titulo: </label>
              <input type="text" name="titulo" ng-model="job.title" class="form-control">
            </div>
            <div class="form-group">
              <label for="year">Descripcion: </label>
              <input type="text" name="descripcion" ng-model="job.description" class="form-control">
            </div>
            <div class="form-group">
              <label for="editorial">Cargo: </label>
              <input type="text" name="cargo" ng-model="job.position" class="form-control">
            </div>
            <div class="form-group">
              <label for="info">Contacto: </label>
              <input type="text" name="contacto" ng-model="job.info" class="form-control">
            </div>
            <div class="form-group">
              <label for="info">Salario: </label>
              <input type="text" name="salario" ng-model="job.salary" class="form-control">
            </div>
            <div class="form-group">
              <label for="cdate">Fecha: </label>
              <input type="text" name="fecha" ng-model="job.cdate" class="form-control">
            </div>
            <div class="form-group">
              <label for="status">Estado: </label>
              <input type="text" name="status" ng-model="job.status" class="form-control">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-default" ng-click="updateJob(job)">Actualizar Propuesta</button>
        </div>
      </div>
    </div>
  </div>






      <div ng-show="isAdmin() || isRegular()">
        <div class="media-body">
          <h3 class="media-heading">Trabajos Activos</h3>
        </div>
        <table class="table table-striped">
          <tr>
            <th>
              Titulo
            </th>
            <th>
              Descripcion
            </th>
            <th>
              Cargo
            </th>
            <th>
              Contacto
            </th>
            <th>
              Fecha
            </th>
            <th>
              Estado
            </th>
            <th>
              Opciones
            </th>
          </tr>
          <tr ng-repeat="job in jobs |  filter:search | filter :{status : false} ">
            <td>
              {{job.title}}
            </td>
            <td>
              {{job.description}}
            </td>
            <td>
              {{job.position}}
            </td>
            <td>
              {{job.info}}
            </td>
            <td>
              {{job.cdate}}
            </td>
            <td>
              {{job.status}}
            </td>
            <td>
              <div class="btn-group btn-group-xs" role="group" aria-label="..." ng-show="isAdmin()">
                <button type="button" class="btn btn-default" ng-click="updateJob(job)" data-toggle="modal" data-target="#updateModal" data-whatever="update">Modificar</button>
                <button type="button" class="btn btn-default" ng-click="deleteJob(job)">Eliminar</button>
              </div>
              <div class="btn-group btn-group-xs" role="group" aria-label="..." ng-show="isRegular()">
                <button type="button" class="btn btn-default" ng-click="updateJob(job)" data-toggle="modal" data-target="#updateModal" data-whatever="update">Tomar</button>

              </div>
            </td>
          </tr>
        </table>

  </div>


  <div ng-show="isAdmin()">
    <div class="media-body">
      <h3 class="media-heading">Usuarios Archivados</h3>
    </div>
    <table class="table table-striped">
      <tr>
        <th>
          Titulo
        </th>
        <th>
          Descripcion
        </th>
        <th>
          Cargo
        </th>
        <th>
          Contacto
        </th>
        <th>
          Fecha
        </th>
        <th>
          Estado
        </th>
        <th>
          Opciones
        </th>
      </tr>
      <tr ng-repeat="job in jobs |  filter:search | filter :{status : true} ">
        <td>
          {{job.title}}
        </td>
        <td>
          {{job.description}}
        </td>
        <td>
          {{job.position}}
        </td>
        <td>
          {{job.info}}
        </td>
        <td>
          {{job.cdate}}
        </td>
        <td>
          {{job.status}}
        </td>
        <td>
          <div class="btn-group btn-group-xs" role="group" aria-label="..." ng-show="isAdmin()">
            <button type="button" class="btn btn-default" ng-click="updateJob(job)" data-toggle="modal" data-target="#updateModal" data-whatever="update">Modificar</button>
            <button type="button" class="btn btn-default" ng-click="deleteJob(job)">Eliminar</button>
          </div>
          <div class="btn-group btn-group-xs" role="group" aria-label="..." ng-show="isRegular()">
            <button type="button" class="btn btn-default" ng-click="updateJob(job)" data-toggle="modal" data-target="#updateModal" data-whatever="update">Tomar</button>

          </div>
        </td>
      </tr>
    </table>

  </div>


  <div ng-show="isRegular()">
    <div class="media-body">
      <h3 class="media-heading">Trabajos Tomados</h3>
    </div>
    <table class="table table-striped">
      <tr>
        <th>
          Titulo
        </th>
        <th>
          Descripcion
        </th>
        <th>
          Cargo
        </th>
        <th>
          Contacto
        </th>
        <th>
          Fecha
        </th>
        <th>
          Estado
        </th>
        <th>
          Opciones
        </th>
      </tr>
      <tr ng-repeat="job in jobs |  filter:search | filter :{status : true} ">
        <td>
          {{job.title}}
        </td>
        <td>
          {{job.description}}
        </td>
        <td>
          {{job.position}}
        </td>
        <td>
          {{job.info}}
        </td>
        <td>
          {{job.cdate}}
        </td>
        <td>
          {{job.status}}
        </td>
        <td>
          <div class="btn-group btn-group-xs" role="group" aria-label="..." ng-show="isAdmin()">
            <button type="button" class="btn btn-default" ng-click="updateJob(job)" data-toggle="modal" data-target="#updateModal" data-whatever="update">Modificar</button>
            <button type="button" class="btn btn-default" ng-click="deleteJob(job)">Eliminar</button>
          </div>
          <div class="btn-group btn-group-xs" role="group" aria-label="..." ng-show="isRegular()">
            <button type="button" class="btn btn-default" ng-click="updateJob(job)" data-toggle="modal" data-target="#updateModal" data-whatever="update">Tomar</button>

          </div>
        </td>
      </tr>
    </table>

  </div>
  </div>
